<html>
  <head>
     <title><%=title %></title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="./styles.css" type="text/CSS">
  </head>
 <body>
     <div id="contact-box">
         <h2>
            <i class="fa fa-address-book"></i> My Contact List</h2>
         <ul>
           <div>
             <form action="/searchContact" method="GET"> 
              <input type="text" name="tosearch" placeholder="Name" required/>
              <button type="submit">Search</button>  
             </form> 
            </div> 
          <% for(let i of contact_list) {%>
             <li>
                 <span class="name"><%=i.name%></span>
                 <span class="phoneno"><%=i.Moblie_no%></span>
                 <span class="delete-bttn"><a href="/deleteContact/?id=<%=i.id%>"><i class="fa fa-times-circle"></i></a></span> 
             </li>    
           <%}%>  
         </ul> 
         <form action="/createContact" method="POST">
            <input type="text" name="name" placeholder="Name" required/>
            <input type="number" name="Moblie_no" placeholder="Moblie_no" required/>
          <button type="submit"> Add contacts</button>  
         </form>
     </div>
     <script src="./script.js"></script>
 </body>
</html>