<html>

  <head>
      <title><%=title%></title>
  </head>
  <body>
      <form action="/createContact" method="POST">
        <input type="text" name="name" placeholder="Name" required/>
        <input type="number" name="Moblie_no" placeholder="Moblie_no" required/>
      <button type="submit"> Add contacts</button>  
    </form>
  </body>



</html>